div.banner {
    color: white;
    background-color: black;
    font-family: calibri;
}



div.navigation {
    text-align: center;
}

div.banner {
    color: white;
    background-color: black;
    font-family: calibri;
}

div.content {
    text-align: center;
}

