<!DOCTYPE html>
<html>
    <head>
    <link href="static/register.css" rel="stylesheet" />
    </head>
    <body>

        Create an account

        <p></p>

        Name

        <p></p>

        <input type="text" id="name" name="name" />

        <p></p>

        Username

        <p></p>

        <input type="text" id="username" name="username" />

        <p></p>

        Password

        <p></p>

        <input type="text" id="password" name="password" />

        <p></p>

        <input type="button" name="button" value="Create"




    </body>
</html>